<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title">Set Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-content">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">Sorry, you must enter this field</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">Sorry, you emtered invalid data</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="forgotPasswordForm.controls.password.touched && forgotPasswordForm.controls.password.invalid">
                    <span *ngIf="forgotPasswordForm.controls.password.errors.required">Sorry, you must enter this field</span>
                </mat-error>
            </mat-form-field>
            
            <mat-dialog-actions align="center">
                <button mat-raised-button color="primary" type="submit"
                [disabled]="!forgotPasswordForm.valid">Submit</button>
                <button mat-raised-button color="primary" mat-dialog-close>Close</button>
            </mat-dialog-actions>
        </div>
    </form>
</mat-dialog-content>


