<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title">{{dialogData.action}} Category</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-content">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                    <span *ngIf="categoryForm.controls.name.errors.required">Sorry, you must enter this field</span>
                    <span *ngIf="categoryForm.controls.name.errors.pattern">Sorry, you emtered invalid data</span>
                </mat-error>
            </mat-form-field>
            <mat-dialog-actions align="center">
                <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" 
                [disabled]="!categoryForm.valid">{{action}}</button>
                <button mat-raised-button color="primary" mat-dialog-close>Close</button>
            </mat-dialog-actions>
        </div>
    </form>
</mat-dialog-content>

